{
    "openapi": "3.1.0",
    "info": {
        "title": "QuestBlue API",
        "summary": "Restful API for managing telecommunications",
        "description": "",
        "version": "2.2.1"
    },
    "components": {
        "securitySchemes": {
            "basicAuth": {
                "type": "http",
                "scheme": "basic"
            },
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Security-Key"
            }
        }
    },
    "security": [
        {
            "basicAuth": [],
            "apiKeyAuth": []
        }
    ],
    "servers": [
        {
            "url": "https://api.questblue.com",
            "description": "Load balanced/High availability endpoints(Recommended)"
        },
        {
            "url": "https://api2.questblue.com",
            "description": "No load balancing single node endpoints(Not recommended for production use)"
        }
    ],
    "paths": {
        "/account/getbalance": {
            "get": {
                "tags": [
                    "User Account"
                ],
                "summary": "Get Account Balance and Allowed Credit",
                "description": "Retrieve the current account balance and allowed credit.",
                "operationId": "getAccountBalance",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the account balance and allowed credit.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "balance": {
                                                    "type": "string",
                                                    "description": "Current account balance."
                                                },
                                                "allowed_credit": {
                                                    "type": "string",
                                                    "description": "Allowed credit available."
                                                }
                                            },
                                            "required": [
                                                "balance",
                                                "allowed_credit"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/setautorefill": {
            "put": {
                "tags": [
                    "User Account"
                ],
                "summary": "Enable or Disable Automatic Account Autorefill",
                "description": "Configure the automatic refill settings for the account.",
                "operationId": "setAutorefill",
                "parameters": [
                    {
                        "name": "autorefill",
                        "in": "query",
                        "description": "Enable or disable automatic account autorefill.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "on",
                                "off"
                            ],
                            "description": "Set to 'on' to enable autorefill or 'off' to disable it."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "empty"
                    },
                    "206": {
                        "description": "Error updating autorefill settings.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/setbalancereload": {
            "put": {
                "tags": [
                    "User Account"
                ],
                "summary": "Configure Minimum Account Balance and Autorefill Values",
                "description": "Set the minimum account balance and the amount for autorefill.",
                "operationId": "setBalanceReload",
                "parameters": [
                    {
                        "name": "min_balance",
                        "in": "query",
                        "description": "The minimum account balance threshold.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                5,
                                25,
                                30,
                                35,
                                40,
                                45,
                                50,
                                100,
                                150,
                                200,
                                250,
                                300,
                                350,
                                400,
                                500,
                                600,
                                700,
                                800,
                                900,
                                1000
                            ],
                            "description": "The minimum balance to set."
                        }
                    },
                    {
                        "name": "reload_amount",
                        "in": "query",
                        "description": "The amount to add to the account when autorefill is triggered.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                25,
                                50,
                                60,
                                70,
                                80,
                                90,
                                100,
                                200,
                                300,
                                400,
                                500,
                                1000,
                                1500,
                                2000,
                                2500
                            ],
                            "description": "The refill amount to set."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "empty"
                    },
                    "206": {
                        "description": "Error updating balance and refill settings.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/refillbalance": {
            "put": {
                "tags": [
                    "User Account"
                ],
                "summary": "Refill Account Balance",
                "description": "Reload the account balance with a specified amount.",
                "operationId": "refillBalance",
                "parameters": [
                    {
                        "name": "amount",
                        "in": "query",
                        "description": "The amount to refill the balance. Minimum value is 10 USD.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 10,
                            "description": "The amount to add to the account balance."
                        }
                    },
                    {
                        "name": "Mode",
                        "in": "query",
                        "description": "Payment processing mode. This parameter is not in use anymore.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "cc",
                                "ach",
                                "all"
                            ],
                            "description": "The payment processing mode. Available values are 'cc' (charge credit card only), 'ach' (ACH payment), 'all' (credit card and ACH)."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "empty"
                    },
                    "206": {
                        "description": "Error reloading the account balance.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/rates": {
            "get": {
                "tags": [
                    "User Account"
                ],
                "summary": "List Service Rates",
                "description": "Retrieve the rates for various services.",
                "operationId": "getRates",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the service rates.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "local_did_cost": {
                                            "type": "string",
                                            "description": "Cost of a local DID."
                                        },
                                        "inbound_call_rate": {
                                            "type": "string",
                                            "description": "Rate for inbound calls."
                                        },
                                        "vps_server_rate": {
                                            "type": "string",
                                            "description": "Rate for VPS servers."
                                        },
                                        "ccrf": {
                                            "type": "string",
                                            "description": "CCRF rate."
                                        }
                                    },
                                    "required": [
                                        "local_did_cost",
                                        "inbound_call_rate",
                                        "vps_server_rate",
                                        "ccrf"
                                    ]
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error retrieving the service rates.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/countrylist": {
            "get": {
                "tags": [
                    "User Account"
                ],
                "summary": "List of Available Countries for International Calls",
                "description": "Retrieve a list of countries available for international calls.",
                "operationId": "getAccountCountryList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the list of countries.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "country_id": {
                                                        "type": "integer",
                                                        "description": "Unique identifier for the country."
                                                    },
                                                    "country_name": {
                                                        "type": "string",
                                                        "description": "Name of the country."
                                                    }
                                                },
                                                "required": [
                                                    "country_id",
                                                    "country_name"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error retrieving the list of countries.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/countryrate": {
            "get": {
                "tags": [
                    "User Account"
                ],
                "summary": "Retrieve International Call Rates by Country",
                "description": "Get the call rates for international destinations based on country ID.",
                "operationId": "getInternationalCallRates",
                "parameters": [
                    {
                        "name": "country_id",
                        "in": "query",
                        "description": "The unique identifier of the country for which the rate is requested.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the rates for the specified country.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "destination": {
                                                        "type": "string",
                                                        "description": "Name of the destination within the country."
                                                    },
                                                    "code": {
                                                        "type": "string",
                                                        "description": "Country code for the destination."
                                                    },
                                                    "rate": {
                                                        "type": "string",
                                                        "description": "Rate for calling the destination."
                                                    }
                                                },
                                                "required": [
                                                    "destination",
                                                    "code",
                                                    "rate"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error retrieving the rates.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/ratezone2": {
            "get": {
                "tags": [
                    "User Account"
                ],
                "summary": "Retrieve International Call Rates for Zone 2",
                "description": "Get the call rates for international destinations classified under Zone 2.",
                "operationId": "getZone2Rates",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the rates for Zone 2.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "destination": {
                                                        "type": "string",
                                                        "description": "Name of the destination within Zone 2."
                                                    },
                                                    "code": {
                                                        "type": "string",
                                                        "description": "Country or region code for the destination."
                                                    },
                                                    "rate": {
                                                        "type": "string",
                                                        "description": "Rate for calling the destination."
                                                    }
                                                },
                                                "required": [
                                                    "destination",
                                                    "code",
                                                    "rate"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error retrieving the rates.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/nonusintfrate": {
            "get": {
                "tags": [
                    "User Account"
                ],
                "summary": "Inbound Calls from Non US TF numbers",
                "description": "Get the call rates for international toll-free numbers outside the US.",
                "operationId": "getInternationalTollFreeRates",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the rates for Non-US International Toll-Free numbers.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "origin": {
                                                        "type": "string",
                                                        "description": "The origin or region of the toll-free number."
                                                    },
                                                    "code": {
                                                        "type": "string",
                                                        "description": "Country or region code for the toll-free number."
                                                    },
                                                    "rate": {
                                                        "type": "string",
                                                        "description": "Rate for calling the toll-free number."
                                                    }
                                                },
                                                "required": [
                                                    "origin",
                                                    "code",
                                                    "rate"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error retrieving the rates.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/getaccoundetails": {
            "get": {
                "tags": [
                    "User Account"
                ],
                "summary": "Retrieve Account Properties",
                "description": "Get the properties of the user account including balance, minimum balance, reload amount, and notification settings.",
                "operationId": "getAccountDetails",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved account properties.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "balance": {
                                                        "type": "string",
                                                        "description": "Current account balance."
                                                    },
                                                    "minimum_balance": {
                                                        "type": "string",
                                                        "description": "Minimum balance required before triggering a refill."
                                                    },
                                                    "reload_amount": {
                                                        "type": "string",
                                                        "description": "Amount to refill when balance is low."
                                                    },
                                                    "payment_method": {
                                                        "type": "string",
                                                        "description": "Current payment method (e.g., 'cc' for credit card)."
                                                    },
                                                    "low_balance_alert_amount": {
                                                        "type": "string",
                                                        "description": "Amount at which low balance alerts are triggered."
                                                    },
                                                    "balance_autorefill": {
                                                        "type": "string",
                                                        "description": "Autorefill status (on/off)."
                                                    },
                                                    "balance_notify": {
                                                        "type": "string",
                                                        "description": "Notification status for balance (on/off)."
                                                    }
                                                },
                                                "required": [
                                                    "balance",
                                                    "minimum_balance",
                                                    "reload_amount",
                                                    "payment_method",
                                                    "low_balance_alert_amount",
                                                    "balance_autorefill",
                                                    "balance_notify"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error retrieving account properties.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/setlowbalancealert": {
            "put": {
                "tags": [
                    "User Account"
                ],
                "summary": "Manage Low Balance Alert",
                "description": "Set or cancel the low balance alert threshold. Notifications will be triggered when the account balance falls below this amount.",
                "operationId": "setLowBalanceAlert",
                "parameters": [
                    {
                        "name": "low_balance_alert_amount",
                        "in": "query",
                        "description": "Amount below which a low balance alert is triggered. Set to 0 to cancel the notification.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated low balance alert settings.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string",
                                            "description": "Empty response indicating success."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error updating low balance alert settings.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/setdailybalancealert": {
            "put": {
                "tags": [
                    "User Account"
                ],
                "summary": "Manage Daily Balance Alert",
                "description": "Enable or disable daily balance alerts for the account.",
                "operationId": "setDailyBalanceAlert",
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "description": "Action to perform for daily balance alerts. Set to 'on' to enable or 'off' to disable.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "on",
                                "off"
                            ],
                            "example": "on"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated daily balance alert settings.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string",
                                            "description": "Empty response indicating success."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error updating daily balance alert settings.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/callbackconfig": {
            "post": {
                "tags": [
                    "User Account"
                ],
                "summary": "Send message to specific URL on updating inventory",
                "description": "Configure a URL to receive messages on inventory updates. Setting an empty value will unset the post messages configuration.",
                "operationId": "callbackConfig",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "URL to post messages to. Set to an empty value to unset the post messages.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "https://example.com/callback"
                        }
                    },
                    {
                        "name": "sections",
                        "in": "query",
                        "description": "Comma-separated list of sections to post messages on update. Set to an empty value to unset post messages.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "lnp,did,fax,sms,trunk,server",
                            "enum": [
                                "lnp",
                                "did",
                                "fax",
                                "sms",
                                "trunk",
                                "server"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "empty"
                    },
                    "206": {
                        "description": "Error updating the post messages configuration.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/callbackstatus": {
            "get": {
                "tags": [
                    "User Account"
                ],
                "summary": "Current configuration of message posting",
                "description": "Retrieve the current configuration for message posting to a specified URL.",
                "operationId": "callbackStatus",
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the post messages configuration.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string",
                                                        "description": "The URL where messages are posted."
                                                    },
                                                    "sections": {
                                                        "type": "string",
                                                        "description": "Comma-separated list of sections for which messages are posted (e.g., 'lnp, did')."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error retrieving the post messages configuration.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error message explaining why the request failed."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/did": {
            "get": {
                "tags": [
                    "Voice DID Management"
                ],
                "summary": "List DIDs",
                "description": "List ordered DIDs and their configurations",
                "operationId": "listDids",
                "parameters": [
                    {
                        "name": "did",
                        "in": "query",
                        "description": "DID to retrieve. Minimum 3 digits. Unix style searching(i.e. *890 123* *456*)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of records to list in a page. Default is 25",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 5,
                            "maximum": 200
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number to retrieve data from",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of DIDs and thier configurations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer"
                                        },
                                        "total_pages": {
                                            "type": "integer"
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Voice DID Management"
                ],
                "summary": "Order DID",
                "description": "Order a local or toll free DID",
                "operationId": "orderDID",
                "parameters": [
                    {
                        "name": "tier",
                        "in": "query",
                        "description": "DID tier",
                        "required": false,
                        "deprecated": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1",
                                "1b",
                                "2"
                            ]
                        }
                    },
                    {
                        "name": "did",
                        "in": "query",
                        "description": "DID(s) to order",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": [
                                "integer",
                                "array"
                            ]
                        }
                    },
                    {
                        "name": "route2trunk",
                        "in": "query",
                        "description": "SIP Trunk to route the DID to. The trunk must be active.",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cnam",
                        "in": "query",
                        "description": "Enable CNAM Services",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    },
                    {
                        "name": "note",
                        "in": "query",
                        "description": "Add note/comment to DID up to 100 chars",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pin",
                        "in": "query",
                        "description": "Port out security PIN. 4-6 chars",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lidb",
                        "in": "query",
                        "description": "Set CallerID name for the did. 4-15 chars alphanumeric",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_name",
                        "in": "query",
                        "description": "Name of person or business registering for 911",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_city",
                        "in": "query",
                        "description": "City of the registered 911 customer",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_state",
                        "in": "query",
                        "description": "2 char state abbreviation",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_zip",
                        "in": "query",
                        "description": "6 char zip code",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_address",
                        "in": "query",
                        "description": "Street address of 911 customer",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_unittype",
                        "in": "query",
                        "description": "Type of unit customer lives in(if any)",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_unitnumber",
                        "in": "query",
                        "description": "Unit number or letter(if any)",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda",
                        "in": "query",
                        "description": "Turn directory listing on/off",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "dlda_type",
                        "in": "query",
                        "description": "Directory listing type",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "business",
                                "residential"
                            ]
                        }
                    },
                    {
                        "name": "dlda_firstname",
                        "in": "query",
                        "description": "Business or person name depending on dlda_type",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_lastname",
                        "in": "query",
                        "description": "Persons last name",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_streetnum",
                        "in": "query",
                        "description": "Street number",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_streetname",
                        "in": "query",
                        "description": "Street name",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_city",
                        "in": "query",
                        "description": "City",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_state",
                        "in": "query",
                        "description": "State",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_zip",
                        "in": "query",
                        "description": "6 char zip code",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_email",
                        "in": "query",
                        "description": "Contact email",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_phone",
                        "in": "query",
                        "description": "Contact phone number",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Empty"
                    },
                    "202": {
                        "description": "Warning(Non critical error)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "warning": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Voice DID Management"
                ],
                "summary": "Update DID",
                "description": "Update DID configuration",
                "operationId": "updateDID",
                "parameters": [
                    {
                        "name": "did",
                        "in": "query",
                        "description": "DID to update",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "route2trunk",
                        "in": "query",
                        "description": "SIP Trunk to route the DID to. The trunk must be active.",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "forw2did",
                        "in": "query",
                        "description": "(Use trunk forwarding instead) Forward DID to this number.",
                        "required": false,
                        "deprecated": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "failover",
                        "in": "query",
                        "description": "Use trunk forwarding instead",
                        "required": false,
                        "deprecated": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    {
                        "name": "cnam",
                        "in": "query",
                        "description": "Enable CNAM Services",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    },
                    {
                        "name": "note",
                        "in": "query",
                        "description": "Add note/comment to DID up to 100 chars",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pin",
                        "in": "query",
                        "description": "Port out security PIN. 4-6 chars",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lidb",
                        "in": "query",
                        "description": "Set CallerID name for the did. 4-15 chars alphanumeric",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_call_alert",
                        "in": "query",
                        "description": "Set email and phone to recieve 911 notifications",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    {
                        "name": "e911_name",
                        "in": "query",
                        "description": "Name of person or business registering for 911",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_city",
                        "in": "query",
                        "description": "City of the registered 911 customer",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_state",
                        "in": "query",
                        "description": "2 char state abbreviation",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_zip",
                        "in": "query",
                        "description": "6 char zip code",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_address",
                        "in": "query",
                        "description": "Street address of 911 customer",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_unittype",
                        "in": "query",
                        "description": "Type of unit customer lives in(if any)",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "e911_unitnumber",
                        "in": "query",
                        "description": "Unit number or letter(if any)",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda",
                        "in": "query",
                        "description": "Turn directory listing on/off",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "dlda_type",
                        "in": "query",
                        "description": "Directory listing type",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "business",
                                "residential"
                            ]
                        }
                    },
                    {
                        "name": "dlda_firstname",
                        "in": "query",
                        "description": "Business or person name depending on dlda_type",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_lastname",
                        "in": "query",
                        "description": "Persons last name",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_streetnum",
                        "in": "query",
                        "description": "Street number",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_streetname",
                        "in": "query",
                        "description": "Street name",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_city",
                        "in": "query",
                        "description": "City",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_state",
                        "in": "query",
                        "description": "State",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_zip",
                        "in": "query",
                        "description": "6 char zip code",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_email",
                        "in": "query",
                        "description": "Contact email",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dlda_phone",
                        "in": "query",
                        "description": "Contact phone number",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Empty"
                    },
                    "202": {
                        "description": "Warning(Non critical error)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "warning": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Voice DID Management"
                ],
                "summary": "Delete DID",
                "description": "Completly remove DID from inventory",
                "operationId": "deleteDID",
                "parameters": [
                    {
                        "name": "did",
                        "in": "query",
                        "description": "DID to remove",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Empty"
                    },
                    "206": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/did/states": {
            "get": {
                "tags": [
                    "Voice DID Management"
                ],
                "summary": "Get Available States List",
                "description": "List of states(short form) where at least one rate center is available.",
                "operationId": "getAvailableStates",
                "responses": {
                    "200": {
                        "description": "A list of states",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/did/ratecenters": {
            "get": {
                "tags": [
                    "Voice DID Management"
                ],
                "summary": "Get Available Rate Centers",
                "description": "List of rate centers for a state",
                "operationId": "getAvailableRatecenters",
                "parameters": [
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Two char state abbreviation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tier",
                        "in": "query",
                        "description": "DID Tier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1",
                                "1b",
                                "2"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of rate centers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/did/available": {
            "get": {
                "tags": [
                    "Voice DID Management"
                ],
                "summary": "Get Available DIDs",
                "description": "Get list of available DIDs - Local or Toll Free",
                "operationId": "getAvailableDIDs",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "DID type to list",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "local",
                                "tf"
                            ]
                        }
                    },
                    {
                        "name": "tier",
                        "in": "query",
                        "description": "DID Tier",
                        "required": false,
                        "deprecated": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1",
                                "1b",
                                "2"
                            ]
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Two char state abbreviation. Required for Local DIDs if no NPA is set",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ratecenter",
                        "in": "query",
                        "description": "For Local DIDs only. Required for Local DIDs if no NPA is set",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "zip",
                        "in": "query",
                        "description": "Five character zip code. For Local DIDs only. Option overrides state/ratecenter/NPA",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Two char TF code.(Use Mask instead)",
                        "required": false,
                        "deprecated": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "mask",
                        "in": "query",
                        "description": "DID to retrieve by mask. Minimum 3 digits. Unix style searching(i.e. *890 123* *456*)",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "total_list",
                        "in": "query",
                        "description": "Limit the number of DIDs returned in the response. Default is 100.",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of DIDs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/did/move2fax": {
            "put": {
                "tags": [
                    "Voice DID Management"
                ],
                "summary": "Move to Fax",
                "description": "Move a number to fax inventory",
                "operationId": "moveToFax",
                "parameters": [
                    {
                        "name": "did",
                        "in": "query",
                        "description": "DID to move",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Empty"
                    },
                    "206": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/did/fraudvalidate": {
            "post": {
                "tags": [
                    "Voice DID Management"
                ],
                "summary": "Scam Number Validation",
                "description": "Verify if phone number(s) are at risk of fraud",
                "operationId": "fraudValidate",
                "parameters": [
                    {
                        "name": "tn",
                        "in": "query",
                        "description": "Phone number(s) to validate",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": [
                                "integer",
                                "array"
                            ],
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of numbers and thier risk levels",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/didinter/countrylist": {
            "get": {
                "tags": [
                    "International DID Management"
                ],
                "summary": "Get Available Countries List",
                "description": "List of countries where at least one rate center is available.",
                "operationId": "getInternationalCountriesList",
                "parameters": [
                    {
                        "name": "did",
                        "in": "query",
                        "description": "DID to move",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of countries",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/didinter/citylist": {
            "get": {
                "tags": [
                    "International DID Management"
                ],
                "summary": "Get Available City List",
                "description": "List of cities where at least one rate center is available.",
                "operationId": "getInternationalCitiesList",
                "parameters": [
                    {
                        "name": "country_code",
                        "in": "query",
                        "description": "Two char Country Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of cities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/didinter": {
            "get": {
                "tags": [
                    "International DID Management"
                ],
                "summary": "List DIDs",
                "description": "List ordered DIDs and their configurations",
                "operationId": "getInternationalDIDs",
                "parameters": [
                    {
                        "name": "did",
                        "in": "query",
                        "description": "DID to retrieve. Minimum 3 digits. Unix style searching(i.e. *890 123* *456*)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of records to list in a page. Default is 25",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 5,
                            "maximum": 200
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number to retrieve data from",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of DIDs and thier configurations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "total": {
                                            "type": "integer"
                                        },
                                        "total_pages": {
                                            "type": "integer"
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "206": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "International DID Management"
                ],
                "summary": "Order International DID",
                "description": "Order International DID",
                "operationId": "orderInternationalDID",
                "parameters": [
                    {
                        "name": "country_code",
                        "in": "query",
                        "description": "Two char Country Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "City Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "forward2did",
                        "in": "query",
                        "description": "Local DID to forward inbound call",
                        "required": true,
                        "deprecated": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
[...]
